feedparser==6.0.14
feedparser-sgmllib==2.1.0
langchain-core==1.6.3
langchain-ollama==1.1.0
langchain-openai==1.6.2
langchain-protocol==0.0.19
langgraph==1.2.11
langgraph-checkpoint==4.2.0
langgraph-prebuilt==1.1.0
langgraph-sdk==0.4.4
ollama==0.6.2
openai==3.13.0
pydantic==2.13.5
pydantic_core==2.46.5
python-dotenv==1.2.3
PyYAML==6.0.3
requests==2.34.2
requests-toolbelt==1.0.0
trafilatura==2.2.0
